{% extends "shared/_layout.html" %}
{% block additional_css %}
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
{% endblock %}
{% block the_title %}
    Загрузка данных
{% endblock %}
{% block main_content %}
    <div>
<!--        <img src="{{ before_img }}">-->
        {{ plot_div|indent(4)|safe }}
    </div>
    <div>
        <form action="/preprocess/deduplication/apply/" method="POST">
            <button class="btn btn-success btn-lg" type="submit" style="margin: 10px;">Применить</button>
            <a href="/preprocess/" class="btn btn-danger btn-lg">Отмена</a>
        </form>
    </div>
{% endblock %}