{% extends "shared/_layout.html" %}
{% block additional_css %}
{% endblock %}
{% block the_title %}
    Витрина данных. Модели пргноза
{% endblock %}
{% block main_content %}

    <nav class="navbar navbar-expand-md navbar-light bg-light" style="padding-bottom: 0px;">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Витрина данных. Модели пргноза</a>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/visualize/grid/">Исходный ряд (МоМ)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/visualize/grid/basis">Базисный ряд (basis)</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Прогноз</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item active" href="#">Настройка</a>
                        <a class="dropdown-item" href="/visualize/grid/forecast/">Графики</a>
                        <a class="dropdown-item" href="/visualize/grid/forecast/basis">Базисные графики</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <form style="margin-top:20px;">
        {% for col in models %}
            <div class="input-group mb-2 row" style="margin-left: 20px;">
                <div class="input-group-prepend">
                    <a href="/visualize/grid/forecast/setup/{{col}}" type="button" class="btn btn-primary btn-lg">Модель для {{col}}</a>
                </div>
                <input type="text" name="model_{{col}}" class="form-control form-control-lg col-md-10"
                       aria-label=".form-control-lg" value="{{models.get(col)}}" >
            </div>
        {% endfor %}
    </form>

{% endblock %}
